<h1>Submit a New Destination</h1>
<form action="/destinations/new" method="post">
  <p>
    <input type="text" placeholder="Destination Name" name="name">
  </p>
  <p>
    <textarea name="description" cols="50" rows="10" placeholder="Enter a destination description here"></textarea>
  </p>
  <input type="submit" value="Submit">
</form>
