<h1>Wanderlist</h1>
<h3>Log In</h3>
<form method="post" action="/login">
  <p>
    <input type=text name="username" value="Username">
  </p>
  <p>
    <input type=text name="password" value="Password">
  </p>
  <input type="submit" value="Log In">
</form>
<a href="/signup"><p>Or sign up here</p></a>
